<div class="container myBooks">
<div class="row">
  <h1>My Books</h1>
</div>   
<div class="row">
  <div class="col-md-4 noPadding">  
    <form method="post" action="/mybooks" enctype="application/x-www-form-urlencoded" id="myBooksForm">
      <div class="form-group">
        <div class="input-group myBookSearch">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Add</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
</div>